<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Alkev HUB</title>
  </head>
  <body>
      
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand" href="#">
               <img src="images/logos/logo3.png" width="50" height="50" alt=""> ALKEV</a>
            <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link active" href="#">Hakkımızda </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">İletişim</a>
                </li>
                <li class="nav-item dropdown">
                    <a  href="#" class="nav-link active dropdown-toggle" id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >İş ve Kariyer</a>
                    <ul class="dropdown-menu"
                    aria-labelledby="navbarDropdown">
                <li>
                    <a href="#"
                    class="dropdown-item">Örnek 1</a>
                </li>
                <li>
                    <a href="#"
                    class="dropdown-item">Örnek 2</a>
                </li>
                <li>
                    <a href="#"
                    class="dropdown-item">Örnek 3</a>
                </li>
            
            </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Vakıf</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Etkinlikler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Duyurular</a>
                </li>
    
              </ul>
       
            </div>
            
                <form class="d-flex">
                    <input type="text" class="form-control me-2">
                </form>
                <button type="button" class="btn btn-secondary me-2 "> Ara </button>
                <button type="button" id="loginButton" class="btn btn-primary me-2"> Giriş </button>
           
            </div>

        </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="/src/ajaxfunc.js"></script>
    <script src="/src/homePage.js"></script>
  </body>
</html>